<!doctype html>
<html lang="es">
<head th:replace="~{fragmentos/generar.html :: headfiles}"></head>
<body>
<div class="container">
    <nav th:replace="~{fragmentos/generar.html :: navegacion}"></nav>

    <h2>Listado de Camisetas</h2>

    <form th:action="@{/camiseta}" method="get" class="mb-3">
        <label for="categoriaId" class="form-label">Filtrar por categoría:</label>
        <select name="categoriaId" id="categoriaId" class="form-control" onchange="this.form.submit()">
            <option value="" th:text="'Todas'"></option>
            <option th:each="cat : ${categorias}"
                    th:value="${cat.id}"
                    th:text="${cat.nombre}"
                    th:selected="${cat.id} == ${categoriaSeleccionada}">
            </option>
        </select>
    </form>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Talla</th>
            <th>Sexo</th>
            <th>Color</th>
            <th>Marca</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Padre</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${listaCamisetas}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.talla}"></td>
            <td th:text="${c.sexo}"></td>
            <td th:text="${c.color}"></td>
            <td th:text="${c.marca}"></td>
            <td th:text="${c.stock}"></td>
            <td th:text="${c.precio}"></td>
            <td th:text="${c.categoria != null ? c.categoria.nombre : '---'}"></td>
            <td>
                <a class="btn btn-primary mb-3"
                   th:href="@{/carro/add/{id}(id=${c.id})}">
                    Comprar
                </a>
            </td>

        </tr>
        </tbody>
    </table>

    <footer th:replace="~{fragmentos/generar.html :: footer}"></footer>
</div>
</body>
</html>
